{% extends "layout.html" %}

{% block body %}
  <h1>Tiny Programs</h1>
  <h3>Rosetta code for implementations</h3>

  <iframe src="/stars.html" frameborder="0" scrolling="0" width="100" height="20" title="Stars"></iframe>

  <section>
    <p>
      Learning a new language can be hard. Developers go to "Hello
      World" but this is so trivial a program so as to be almost
      useless.
    </p>

    <p>
      This project is a collection of tiny programs that may help you
      learn a language. It is similar to Rosetta Code except that all
      programs here will be implementations and not library calls.
    </p>

    <p>
      Implementations are opinionated and simple, but not necessarily
      idiomatic. Tests are in place for all implementations but they are not
      necessarily 100% bug-free.
    </p>
  </section>

  {% for project_name, project in projects %}
  <section>
    <h2>{{ project_name }}</h2>
    <div class="description">
      {% if project['description'] %}
      {{project['description']}}
      {% endif %}
    </div>
    <ul>
      {% for language in project["implementations"] %}
      <li><a href="/{{project_name}}/{{language}}.html">{{language}}{% if language == 'go' %} (Reference){% endif %}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
{% endblock %}
