<meta charset="UTF-8">
<link href="/style.css" rel="stylesheet" type="text/css" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{% block title %}{% endblock %}Tiny Programs: Rosetta code for implementations</title>

<article>
  {% block body %}{% endblock %}

  <footer>
    <p>Copyright 2022 Phil Eaton</p>
    <p>
      <a href="https://github.com/eatonphil/tinyprograms/blob/main/LICENSE.MD">MIT Licensed</a>
    </p>
  </footer>
</article>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-D8MWLGQV56"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D8MWLGQV56');
</script>
