{% extends "layout.html" %}

{% block title %}{{ project_name }} in {{ language }}{% endblock %}

{% block body %}
  <a href="/">Tiny Programs</a>
  <h1>{{ project_name }} in {{ language }}</h1>

  <section>
    <h2>Implementation</h2>
    <div class="description">
      {% if project['description'] %}
      {{project['description']}}
      {% endif %}
    </div>
    <a href="{{url}}">Source Code</a>
    <pre><code>{{program}}</code></pre>
  </section>

  <section>
    <h2>Build and run</h2>
    <p>These steps are linux only.</p>
    <pre><code>{% for step in prepare %}$ {{step}}
{% endfor %}
$ {{run_step}}</code></pre>
  </section>

  <section>
    <h2>All implementations</h2>
    <ul>
      {% for language in project["implementations"] %}
      <li><a href="/{{project_name}}/{{language}}.html">{{language}}{% if language == 'go' %} (Reference){% endif %}</a></li>
      {% endfor %}
    </ul>
  </section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/{{language}}.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}
